.ql-editor {
  all: unset;
}

.ql-formats {
}

.ql-toolbar.ql-snow {
  border: none;
  padding: 0;
}

.ql-container.ql-snow {
  border: none;
}

.ql-editor.ql-blank::before {
  left: 0;
  right: 0;
}
